body {
    font-family: 'Roboto Mono', monospace;
    min-height: 400px;
    background-image: url('https://www.alura.com.br/assets/img/imersoes/dev-2021/dia-1-conversor-de-moedas.png');
    background-color: #000000;
    background-size: 100vh;
    background-position: center bottom;
    background-repeat: no-repeat;
        
}

.container {
    text-align: center;
    padding: 20px;
    height: 100vh;
}

.page-title {
    text-align: center;
    color: #FFFFFF;
}

.page-subtitle {
    margin-top: 5px;
    color: #FFFFFF;
}

.logo-imersao {
    width: 200px;
}

.alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
}

input {
    margin: 12px;
    padding: 6px;
    border-radius: 5px;
}

label {
    color: #FFFFFF;
}

button {
    margin-top: 12px;
    padding: 4px 8px;
    border-radius: 10px;
    background: #FFFFFF;
}

h2 {
    color: #FFFFFF;
    font-size: 30px;
    /* text-align: right; */
    margin: 25px 0 0 400px;
}


